<html>
  <head>
    <title> Colors </title>
  </head>

  <body>
    {% macro color(colors, list_checked) %}
      {% set list_colors = colors.split(" ") %}
      {% for i in range(list_colors|length) %}

        {% if i in list_checked %}
          <input type="checkbox" id={{list_colors[i]}} name={{list_colors[i]}} checked>
          <label for={{list_colors[i]}}>{{list_colors[i]}}</label>
          <br>
        {% else %}
          <input type="checkbox" id={{list_colors[i]}} name={{list_colors[i]}}>
          <label for={{list_colors[i]}}>{{list_colors[i]}}</label>
          <br>
        {% endif %}

      {% endfor %}

    {% endmacro %}

    <div>
      {{color(colors, list_checked)}}
    </div>
  </body>
</html>